*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    min-height: 100vh;
    width: 100%;
}
#home{
    width: 100%;
    height: 100vh;
    background-image: url(https://wallpaperaccess.com/full/4512684.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#controller{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#circle{
    width: 25vw;
    height: 25vw;
    background-color: red;
    background-image: url(https://images.unsplash.com/photo-1655917080884-538d83e1de11?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80);
    border-radius: 50%;
    background-size: cover;
    overflow: hidden;
}
#text{
    color: rgb(218, 141, 113);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
letter-spacing: 10px;
line-height: 110px;
}
#text h1{
    font-family: "hello paris sans regular";
    font-size: 180px;
    text-align: center;
    justify-content: center;   
    font-weight: lighter;
}
#nav{
    /* width: 100%; */
    /* height: 8vh; */
    text-align: center;
    justify-content: center;

}
#nleft{
    /* width: 150px; */
    /* background-color: yellow; */
    /* height: 7vh; */
    position: absolute;
    top: 1vw;
    left: 8vw;
   font-family: "bigilla";
}
#nright{
    /* width: 150px; */
    /* background-color: yellow; */
    /* height: 7vh; */
    position: absolute;
    top: 1vw;
    right: 2vw;
    font-family: "bigilla";
}
#ncenter{
    width: 150px;
    /* background-color: yellow; */
    height: 7vh;
    position: absolute;
    top: 1vw;
    left: 45vw;
    font-family: "bigilla";
}
#nleft a{
    color: rgb(218, 141, 113);
    margin-right: 25px;
}
#nright a{
    color: rgb(218, 141, 113);
    margin-right: 30px;
    text-decoration: none;
}
#ncenter h2{
    color: rgb(218, 141, 113);
}
#bigcircle{
    width: 70vw;
    height: 70vw;
    border: 0.5px rgb(183, 206, 151) solid;
    border-radius: 50%;
left: 50%;
top: 50%;
position: absolute;
transform: translate(-50%,-50%);
}
#smallcircle{
    width:5vw;
    height:5vw;
    border: 1px solid rgb(183, 206, 151);
    border-radius: 50%;
    right: 12vw;
    position: absolute;
    top: 47%;
    background-color: rgba(0, 0, 0, 0.741);
    text-align: center;
    justify-content: center;
}
#smallcircle h5{
    font-family: "bigilla";
    color: rgb(218, 141, 113);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.btext{
    /* width: 20px; */
    /* height: 20px; */
    /* background-color: aqua; */
    position: absolute;
    bottom: 150px;
    left: 110px;
    color: rgb(218, 141, 113);
    text-align: center;
    justify-content: center;
    line-height: 20px;
    text-decoration-line: underline;
}
.btext h2{
    font-weight: lighter;
    font-size: 1.5vw;
}
.btext h1{
    font-family: "bigilla";
    font-size: 7vw;
    color: rgb(200, 1, 1);
    line-height: 10px;
}
#a{
    position: absolute;
    bottom: 150px;
    left: 350px;
    color: rgb(218, 141, 113);
    text-align: center;
    justify-content: center;
    line-height: 20px;
}
#b{
    position: absolute;
    bottom: 150px;
    left: 590px;
    color: rgb(218, 141, 113);
    text-align: center;
    justify-content: center;
    line-height: 20px;
}
#second{
    position: absolute;
    width: 100%;
    min-height: 100vh;
    top: 100vh;
    background-image: url(https://wallpaperaccess.com/full/4512684.jpg);
}
#photoseries{
    position: absolute;
    top: 20vh;
    width: 100%;
    height: 30vw;
    white-space: nowrap;
    background-color: red;
    overflow: auto;
}
#photoseries .photo{
    display: inline-block;
    width: 30vw;
    height: 40vw;
    /* flex-shrink: 0; */
    background-color: blue;
}
#photoseries::-webkit-scrollbar{
    display: none;
}
#third{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 200vh;
    background-color: #dadada;
}
.stripe{
   position: relative;
    width: 4vw;
    height: 100%;
    background-color: black;
    right: 0%;
}
.stripe:nth-child(2){
    background-color: red;
}
.stripe:nth-child(3){
    background-color: rgb(250, 168, 168);
}
.stripe:nth-child(4){
    background-color: rgb(104, 20, 20);
}
.stripe h4{
    color: white;
    position: absolute;
    font-family: "gilroy";
    text-transform: uppercase;
    width: 300px;
    /* background-color: yellow; */
    bottom: 5%;
    left: 50%;
    transform: rotate(-90deg);
    transform-origin: 0% 50%;
}
#thleft{
    width: 30%;
    height: 40%;
    background-color: aqua;
    position: absolute;
    left: 2vw;
   top: 2vw;
}
#forth{
    position: absolute;
    width: 100%;
    min-height: 100vh;
    top: 300vh;
    background-color: rgb(39, 39, 52)
}
#ftext{
    position: absolute;
    width: 20%;
    height: 60%;
    /* background-color: red; */
    margin: -55px;
}
.innertext h1{
    margin: 80px;
}
.innertext{
    width: 100%;
    height: 40px;
    /* background-color: yellow; */
    margin: 5px;
    font-family: "bigilla";
    font-size: 4vw;
    font-weight: 900;
}
.innertext img{
    position: absolute;
    left: 400px;
width: 130px;
height: 190px;
display: none;
}
.innertext h1:hover{
    opacity: 1;
    scale: 2px;
    cursor: pointer;
}